@import "variable.styl"

body, html
  line-height: 1
  font-family: 'Microsoft YaHei','微软雅黑','Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB',Arial,sans-serif;
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
  min-height: 100%